# Import Libs

Data is taken from https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies

In [10]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [33]:
df = pd.read_csv("TMDB_movie_dataset_v11.csv")

In [35]:
df.info()
df.head(3)
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149756 entries, 0 to 1149755
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1149756 non-null  int64
 1   title                 1149743 non-null  object
 2   vote_average          1149756 non-null  float64
 3   vote_count            1149756 non-null  int64
 4   status                1149756 non-null  object
 5   release_date          957097 non-null   object
 6   revenue               1149756 non-null  int64
 7   runtime               1149756 non-null  int64
 8   adult                 1149756 non-null  bool
 9   backdrop_path         303995 non-null   object
 10  budget                1149756 non-null  int64
 11  homepage              121470 non-null   object
 12  imdb_id               605972 non-null   object
 13  original_language     1149756 non-null  object
 14  original_title        1149743 non-null  object
 15  overview              914464 non-null   object
 16  popularity            1149756 non-null  float64
 17  poster_path           784149 non-null   object
 18  tagline               161152 non-null   object
 19  genres                686728 non-null   object
 20  production_companies  517447 non-null   object
 21  production_countries  637693 non-null   object
 22  spoken_languages      657379 non-null   object
 23  keywords              309948 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 202.9+ MB

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

# Data Cleaning

In [36]:
# Drop columns that are not needed
columns_to_drop = ['backdrop_path', 'homepage', 'tagline', 'keywords']
df.drop(columns=columns_to_drop, inplace=True)

In [ ]:
# Identify columns with missing values
missing = df.isna().sum().to_frame(name='val').reset_index(names='cols')
missing_cols = missing[missing['val'] > 0]['cols']
missing_cols

1                    title
5             release_date
10                 imdb_id
12          original_title
13                overview
15             poster_path
16                  genres
17    production_companies
18    production_countries
19        spoken_languages
Name: cols, dtype: object

In [50]:
for col in missing_cols:
    print(f"Column :{col}")
    df[df[col].isna()].iloc[[0]]
    print("-" * 50)

Column :title

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
408573,1104880,NaN,0.0,0,Canceled,NaN,0,0,False,0,NaN,en,NaN,NaN,0.6,/oXvQVlS7ZR7d5t130rVZH7ATxcQ.jpg,"Horror, Mystery, Thriller",NaN,United States of America,English

--------------------------------------------------
Column :release_date

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
15540,733668,Return,6.171,129,Released,NaN,0,18,False,0,NaN,hy,Return,EyÃ¼p decides to cross mount Ararat looking for...,3.563,NaN,NaN,NaN,NaN,"Armenian, Kurdish"

--------------------------------------------------
Column :imdb_id

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
5347,567604,Once Upon a Deadpool,7.146,646,Released,2018-12-11,0,118,False,0,NaN,en,Once Upon a Deadpool,A kidnapped Fred Savage is forced to endure De...,23.001,/5Ka49BWWyKMXr93YMbH5wLN7aAM.jpg,"Comedy, Action, Adventure","20th Century Fox, Genre Films, Maximum Effort",United States of America,English

--------------------------------------------------
Column :original_title

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
408573,1104880,NaN,0.0,0,Canceled,NaN,0,0,False,0,NaN,en,NaN,NaN,0.6,/oXvQVlS7ZR7d5t130rVZH7ATxcQ.jpg,"Horror, Mystery, Thriller",NaN,United States of America,English

--------------------------------------------------
Column :overview

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
7637,42436,Natale in crociera,4.935,387,Released,2007-12-14,0,103,False,0,tt1065329,it,Natale in crociera,NaN,5.52,/n83LsfQCPReYembtNtuGwqUkUOS.jpg,Comedy,Filmauro,Italy,Italian

--------------------------------------------------
Column :poster_path

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
5531,836466,Return,6.291,619,Released,2020-06-10,0,12,False,0,NaN,en,Return,A single man has worked most of his life in a ...,7.915,NaN,Animation,NaN,NaN,NaN

--------------------------------------------------
Column :genres

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
6011,320367,Return,6.223,551,Released,2015-01-01,0,0,False,0,tt4299612,en,Return,A tale of terror. Cathy Reed has been institut...,4.037,NaN,NaN,NaN,NaN,NaN

--------------------------------------------------
Column :production_companies

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
3135,26736,Wizards of Waverly Place: The Movie,6.626,1325,Released,2009-08-28,0,94,False,0,tt1369845,en,Wizards of Waverly Place: The Movie,A young wizard accidentally conjures a spell t...,28.584,/reHGWHlF5tHwFQiFmsWHn9gwIpq.jpg,"Family, TV Movie, Adventure, Comedy, Drama, Fa...",NaN,United States of America,English

--------------------------------------------------
Column :production_countries

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
813,27576,Salt,6.398,5109,Released,2010-07-21,293329073,100,False,110000000,tt0944835,en,Salt,"As a CIA officer, Evelyn Salt swore an oath to...",31.472,/ppXyhOe8UCEOrBRSYqE3SkHwrcR.jpg,"Action, Mystery, Thriller","Wintergreen Productions, Columbia Pictures, Re...",NaN,"English, Russian, Korean"

--------------------------------------------------
Column :spoken_languages

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages
1827,594767,Shazam! Fury of the Gods,6.662,2416,Released,2023-03-15,133437105,130,False,125000000,tt10151854,en,Shazam! Fury of the Gods,"Billy Batson and his foster siblings, who tran...",143.169,/A3ZbZsmsvNGdprRi2lKgGEeVLEH.jpg,"Comedy, Action, Fantasy","New Line Cinema, The Safran Company, DC Films",United States of America,NaN

--------------------------------------------------

## Missing Values

In [54]:
# Handle missing values
df['genres'] = df['genres'].fillna('Unknown')
df['production_companies'] = df['production_companies'].fillna('Unknown')
df['production_countries'] = df['production_countries'].fillna('Unknown')
df['spoken_languages'] = df['spoken_languages'].fillna('Unknown')
df['title'] = df['title'].fillna('Untitled')
df['original_title'] = df['original_title'].fillna('Untitled')
df['imdb_id'] = df['imdb_id'].fillna('Unknown')
df['overview'] = df['overview'].fillna('Unknown')
df['poster_path'] = df['poster_path'].fillna('Unknown')
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [66]:
# Identify columns with missing values
missing = df.isna().sum().to_frame(name='val').reset_index(names='cols')
missing

# Missing cols
missing_cols = missing[missing['val'] > 0]
missing_cols

                    cols  val
0                     id    0
1                  title    0
2           vote_average    0
3             vote_count    0
4                 status    0
5           release_date    0
6                revenue    0
7                runtime    0
8                  adult    0
9                 budget    0
10               imdb_id    0
11     original_language    0
12        original_title    0
13              overview    0
14            popularity    0
15           poster_path    0
16                genres    0
17  production_companies    0
18  production_countries    0
19      spoken_languages    0

Empty DataFrame
Columns: [cols, val]
Index: []

In [65]:
df[df['release_date'].isna()]['release_date']
#  Drop Rows with NaT Values
df = df.dropna(subset=['release_date'])

15540     NaT
15897     NaT
30049     NaT
33644     NaT
33647     NaT
           ..
1149748   NaT
1149750   NaT
1149752   NaT
1149754   NaT
1149755   NaT
Name: release_date, Length: 192659, dtype: datetime64[ns]